$distance: 20px;

.container {
    display: grid;
    width: 50vw;
    height: 50vw;
    position: relative;
}

.circle {
    display: grid;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 10%;
    margin-left: 10%;
}